body {
  margin: 0;
  height: 100vh;
  font-size: 20px;
}

#app {
  background-color: #a3c99d;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  grid-template-rows: 10% auto 10%;
  grid-template-areas:
    "header header header"
    "aside content nada"
    "footer footer footer";
}

#footer {
  border: 1px solid green;
}

#header {
  grid-area: header;
}
#cardapio {
  /* grid-area: cardapio; */
  /* display: table; */
}

#dias {
  display: flex;
}
#content {
  grid-area: content;
  /* display: flex;
  flex-wrap: wrap; */
}
#footer {
  grid-area: footer;
  background-color: #83b97a;
}
